<aside class="app-sidebar">
    <section class="app-buttons-wrapper">
        @*<button class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary">Sync</button>
        <button class="btn btn-primary">Logout</button>*@
    </section>
    <section class="main-category-wrapper">
        <div class="app-btn">
            @Html.ActionLink("Scratch Pad", "Index", "ScratchPad")
        </div>
        <div class="app-btn">
            @Html.ActionLink("All Notes", "Index", "ScratchPad")
        </div>
        <div class="app-btn">
            @Html.ActionLink("Favourites", "Index", "ScratchPad")
        </div>
        <div class="app-btn">
           @Html.ActionLink("Trash", "Index", "ScratchPad")
        </div>
        <div class="app-btn">
            @Html.ActionLink("Scratch Pad", "Index", "ScratchPad")
        </div>



    </section>
</aside>
